<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">New Movie Review</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/movie">Movie</a></li>
        <li><a href="/user">Add User</a></li>
        <li><a href="/review">User Review</a></li>
      </ul>
    </div>
  </nav>